/*-index page-*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo { /* Nike logo*/
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 1rem;
}

.logo-image {
    width: 10%;
    height: 10%;
}

nav { /* Header of webpage */
    height: 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a { /* navigation bar header */
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.navbar a:hover{
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
}

.navbar .active {
    padding-bottom: 0.3rem;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

body {
    background-color: rgb(199, 199, 199);
    margin: 0;
    padding: 0;
}

section {
    padding: 2rem;
}

header {
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
}

section { /* Texts */
    padding: 20px;
    max-width: 800px;
    margin: 10px auto;
    background-color: rgb(199, 199, 199);
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    color:black;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.7;
}

footer { /* Footer of webpage */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

#left-footer {
    margin-right: 5rem;
}

